* {
    box-sizing: border-box;
}
header {
    text-align: center;
}

h1 {
    font-size: 40px;
}

body {
    background-color: black;
    color: white;
    font-family: Helvetica;
}

nav{
    text-align: center;
    font-size: 20px;
    background-color: #363636;;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.932), rgba(0, 212, 0, 0.219));
    font-style: italic;
    padding: 3px;
    font-family: 'Lucida Sans';
    position: sticky;
    top: 0px;
}

/*
.navposition {
    position: sticky;
    top: 0;
}
*/

ul li{
    display: inline-block;
}

a {
    text-decoration: none;
}

#footer {
    font-size: 11px;
    clear: both;
    text-align: center;
    border-top: .25px solid rgb(0, 212, 0);
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/*
section, article, aside {
    border:rgb(255, 228, 105) solid;
}
*/

/*
.floatleft {
    float: left;
}
*/

#leftcolumn {
    float: left;
    text-align: center;
    width: 40%;
    margin: 10px;
    padding: 5px;
}

#rightcolumn {
    float: right;
    text-align: center;
    width: 40%;
}

.centered {
    text-align: center;
    width: fit-content;
}

.lrmargin {
    margin-left: 55px;
    margin-right: 55px;
}

a:link {
    color: red;
}

a:visited {
    color: rgb(0, 212, 0);
}

a:hover {
    color: rgb(255, 228, 105);
    background-color:darkblue;
    border: solid .25px;
}

a:active {
    color:blue;
}

/*
.column {
    float: left;
    width: 50%;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
*/

.boxshadow {
    border: none;
    box-shadow: 5px 10px 18px rgb(0, 119, 0);
}

/*
.nopointevents {
    pointer-events: none;
}
*/

#logo {
    height: 62px;
    width: 62px;
    margin: auto;
    position: absolute;
    left: 2%;
    top: 0%;
}

.formmaps {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    display: block;
    text-align: center;
  }
  
  input[type=submit] {
    background-color: rgb(0, 119, 0);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    text-align: center;
  }
  
  input[type=submit]:hover {
    background-color: rgb(0, 119, 0);
  }
  
  .container {
    border-radius: 5px;
    display: block;
    text-align: center;
    width: 100%;
    background-color: black        ;
    padding: 20px;
  }